header .title {
  font-family: "Robot Mono";
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 30px;
}

@media screen and (max-width: 800px) {
  header .title {
    font-family: "Roboto Mono";
    font-weight: 600;
  }
}
