$main-width: 90%;
$primary-color: #00b0eb;


// background: linear-gradient(153deg, rgba(0,176,235,1) 0%, rgba(0,191,255,1) 100%);
// background: linear-gradient(153deg, rgb(0, 176, 235) 0%, rgb(0, 100, 255) 100%);

$gradient-background: linear-gradient(153deg, rgb(0, 176, 235) 0%, rgb(0, 100, 255) 100%);
.content{
  font-size: 2px;
  padding-bottom: 5px;
  transform:scale(0.8);
  margin-top:-10px;
  color: rgb(46, 46, 46);
  display: flex;
}

.h2{
  font-size: 20px;
  color: $primary-color;
  line-height: 5;
}

.card {
  text-align: center;
  box-shadow: 0px 4px 9px 3px rgba(97,97,97,0.08);
padding: 4px;
padding-bottom: 6px;
background-color: white;
width: 150px;
height: 210px;
border-radius: 20px;
.img{
  padding-bottom: 5px;
  padding-top: 15px;
}

.h4{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.content{
  font-size: 2px;
  padding-bottom: 5px;
  transform:scale(0.8);
  margin-top:-10px;
  color: rgb(96, 96, 96);
  display: flex;
}
.button{
  // box-shadow: 0px 1px 6px 0px rgba(0, 191, 255, 0.44);
  background: rgb(0,176,235);
background: linear-gradient(153deg, rgba(120,234,255) 0%, rgba(0,191,255,1) 100%);
  font-size: 0.5rem;
  padding: 1px;
  width: 80px;
  margin:0 auto;
  color: white;
  height: 20px;
  line-height: 2;
  border-radius: 20px;
  margin-bottom:10px;
}
}
.modalOverlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(123, 123, 123, 0.421);
  
  z-index: 1;
  backdrop-filter: blur(2px);
  display: flex; /* flexbox を使用して中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  justify-content: center; /* 水平方向に中央揃え */
  z-index: 1;
  .modal{
    width: 90%;
    max-width: 800px;
    max-height: 700px;
    height: 90%;
    background-color: white;
   border-radius: 30px;
   .modalContent{
    padding: 30px;
   
    .ima{
      width: auto;
      margin:0 auto;
      .modalh4{
        padding-top: 10%;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
      }
    }
    .modalMain{
      padding: 20px;
      .modalText{
        overflow-y: scroll;
        max-height: 200px;
        padding: 10px;
        font-size: 12px;
        line-height: 1.6;
        color: rgb(67, 67, 67);
        &::-webkit-scrollbar{
          height: 10px;
        }
      }
    }
    .button{
      font-size: 15px !important;
      width: 150px;
      border-radius: 10px !important;
      height: 30px !important;
      left: 50%;
      margin-top: 10px;
    // position: absolute;
    // bottom: 100px;
    // transform: translate(-50%, -50%);
    }
   }
  }
}

.cmodal{
  max-width: 1000px;
  margin:0 auto;
  position: fixed;
  border: solid 1px rgb(0, 178, 235);
  box-shadow: 0px 1px 6px 7px rgba(0, 176, 235, 0.0858);
  border-radius: 20px;
  overflow: scroll;
  width: 98%;
  background-color: white;
  z-index: 1;
  height: 100%;
  padding-top:0px;
  top: 45px;
    left: 1%;
  right: 1%;
  
  .chead{
    display: block;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-top: 0px;
    .f{
     display: inline-flex;
    }
    .description{
      font-size: 17px;
      color: #454545;
    }
  } 
  &::-webkit-scrollbar{
    height: 10px;
  }
}


.flexcon {
  margin: 0 auto;
    max-width: 900px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  .containpm {
    text-align: center;
    box-shadow: 0px 4px 9px 3px rgba(97, 97, 97, 0.1);
    padding: 4px;
    padding-bottom: 6px;
    background-color: white;
    max-width: 150px;
    width: 100%;
    height: 205px;
    border-radius: 20px;
    border: solid 2px rgb(179, 179, 179);
    .plusimg{
      padding-top: 56px;
    }
    .titlep {
      width: 90px;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 10px;
      color: rgb(179, 179, 179);
    }
  }
}

.main {
  width: $main-width;
  margin: 0 auto;
  max-width: 1000px;

  .flexconc {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
  }
  ::-webkit-scrollbar{
    // height: 10px;
  }
 
  
  .img {
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
  }

  .categoli {
    padding-top: 15px;

    .contain {
      width: 100%;
      margin-right: 28px;
      margin-bottom: 15px;
      margin-top: 10px;
      border-radius: 20px;
      height: 115px;
      width: 105px !important;
      font-size: 12px;
      font-weight: 800;
      background-color: white;
      border: solid 1px rgb(0, 178, 235);
      box-shadow: 0px 1px 6px 4px rgba(0, 176, 235, 0.0858);

      

      .title {
        width: 90px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 10px;
        color: $primary-color;
      }
    }
    .containp {
      max-width: 105px;
      text-align: center;
      padding-top: 15px;
      width: 100%;
      margin-right: 28px;
      margin-left: 20px;
      margin-bottom: 15px;
      margin-top: 10px;
      border-radius: 20px;
      height: 101px;
      // width: 105px !important;
      font-size: 12px;
      font-weight: 800;
      background-color: white;
      box-shadow: 0px 2px 10px 1px rgba(35, 35, 35, 0.086);

      

      .titlep {
        width: 90px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 10px;
        color: gray;
      }
    }
  }

  .page {
    padding-top: 5px;
    

    .h4 {
      font-size: 10px;
      font-weight: 700;
    }
 
  }
}
.button{
  box-shadow: 0px 3px 10px 0px rgba(0, 176, 235, 0.32);
  background: rgb(0,176,235);
background: linear-gradient(153deg, rgba(0,176,235,1) 0%, rgba(0,191,255,1) 100%);
  font-size: 0.5rem;
  padding: 3px;
  border: none;
  width: 80px;
  margin:0 auto;
  color: white;
  height: 20px;
  line-height: 2;
  border-radius: 10px;
  margin-bottom:10px;
}

.modalF{
  min-height: 300px;
  text-align: left;
    width: 60%;
    max-width: 400px;
    max-height: 400px;
   
    background-color: white;
    border-radius: 30px;
   .modalContent{
    padding: 30px;
   
    .ima{
      width: 30%;
      margin:0 auto;
      .modalh4{
        padding-top: 10%;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
      }
    }
    .modalMain{
      padding: 20px;
      .modalText{
        overflow-y: scroll;
        max-height: 200px;
        padding: 10px;
        font-size: 12px;
        line-height: 1.6;
        color: rgb(67, 67, 67);
        &::-webkit-scrollbar{
          height: 10px;
        }
      }
    }
   
   }
   .button{
    font-size: 15px !important;
    width: 150px;
    border-radius: 10px !important;
    height: 30px !important;
   
    margin-top: 10px;
    text-align: center;
  // position: absolute;
  // bottom: 100px;
  // transform: translate(-50%, -50%);
  }
  }
  .inputxt{
    border:1px solid #C1C1C1 ;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);;
  }
  .inputxtArea{
    border:1px solid #C1C1C1 ;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);;
  }
  .imgr{
    margin-left: 15px;
    margin-top: 10px;
  }
  .cform{
    width: 80%;
    margin:0 auto;
    div{
      margin-top: 12px;
      font-size: 10px;
      font-weight: normal;
    }
    .button{
     margin: 40px auto;
     padding:1px;
     display: flex; /* 子要素を水平方向にセンタリング */
    justify-content: center; /* 水平方向に中央寄せ */
    align-items: center; /* 垂直方向に中央寄せ */
    }
  }
  .imgAdd{
    margin:0 auto;
    width: 100px;
    height: 110px;
    color: #8c8c8c;
    border-radius: 15px; 
    border:2px dashed #c3c3c3;
    img{
      margin:10px auto;
      display: flex;
    justify-content: center;
    align-items: center;
    }
    div{
      display: flex;
    justify-content: center;
    align-items: center;
    }
  }

  .inputImg{
    

    border-radius: 5px;
    // height: 110px;
    // position: absolute;
    // top: -123px;
  }

  .modalFp{
    min-height: 300px;
    text-align: left;
      width: 60%;
      max-width: 400px;
      max-height: 550px;
     
      background-color: white;
      border-radius: 30px;
     .modalContent{
      padding: 30px;
     
      .ima{
        width: 30%;
        margin:0 auto;
        .modalh4{
          padding-top: 10%;
          font-size: 20px;
          font-weight: 700;
          text-align: center;
        }
      }
      .modalMain{
        padding: 20px;
        .modalText{
          overflow-y: scroll;
          max-height: 200px;
          padding: 10px;
          font-size: 12px;
          line-height: 1.6;
          color: rgb(67, 67, 67);
          &::-webkit-scrollbar{
            height: 10px;
          }
        }
      }
     
     }
     .button{
      font-size: 15px !important;
      width: 150px;
      border-radius: 10px !important;
      height: 30px !important;
     
      margin-top: 10px;
      text-align: center;
    // position: absolute;
    // bottom: 100px;
    // transform: translate(-50%, -50%);
    }
    }
    .inputxt{
      border:1px solid #C1C1C1 ;
      width: 100%;
      height: 20px;
      border-radius: 5px;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);;
    }
    .inputxtArea{
      border:1px solid #C1C1C1 ;
      width: 100%;
      height: 150px;
      border-radius: 5px;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);;
    }
    .imgr{
      margin-left: 15px;
      margin-top: 10px;
    }
    .cform{
      width: 80%;
      margin:0 auto;
      div{
        margin-top: 12px;
        font-size: 10px;
        font-weight: normal;
      }
      .button{
       margin: 40px auto;
       padding:1px;
       display: flex; /* 子要素を水平方向にセンタリング */
      justify-content: center; /* 水平方向に中央寄せ */
      align-items: center; /* 垂直方向に中央寄せ */
      }
    }
    @media screen and (max-width: 700px) {
      .flexcon {    
        grid-template-columns: repeat(2, 1fr);
    }
    .modalContent{
      padding: 0 !important;
    }  
    .modal{
      max-height: 650px !important;
    }
    .modalF{
      width: 85%;
    }
    .modalFp{
      width: 85%;
    }
    .cmodal{
      &::-webkit-scrollbar{
        display: none;
      }
    
    }
    .containpm,.card{
      margin:inherit;
    }
    .imgrf{
      height: 30px;
    }

    }