@charset "UTF-8";
.content {
  font-size: 2px;
  padding-bottom: 5px;
  transform: scale(0.8);
  margin-top: -10px;
  color: #2e2e2e;
  display: flex;
}

.h2 {
  font-size: 20px;
  color: #00b0eb;
  line-height: 5;
}

.card {
  text-align: center;
  box-shadow: 0px 4px 9px 3px rgba(97, 97, 97, 0.08);
  padding: 4px;
  padding-bottom: 6px;
  background-color: white;
  width: 150px;
  height: 210px;
  border-radius: 20px;
}

.card .img {
  padding-bottom: 5px;
  padding-top: 15px;
}

.card .h4 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card .content {
  font-size: 2px;
  padding-bottom: 5px;
  transform: scale(0.8);
  margin-top: -10px;
  color: #606060;
  display: flex;
}

.card .button {
  box-shadow: 0px px 10px 3px rgba(0, 191, 255, 0.44);
  background: #00b0eb;
  background: linear-gradient(153deg, #00b0eb 0%, deepskyblue 100%);
  font-size: 0.5rem;
  padding: 1px;
  width: 80px;
  margin: 0 auto;
  color: white;
  height: 20px;
  line-height: 2;
  border-radius: 20px;
  margin-bottom: 10px;
}

.modalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(123, 123, 123, 0.421);
  z-index: 1;
  backdrop-filter: blur(2px);
  display: flex;
  /* flexbox を使用して中央揃え */
  align-items: center;
  /* 垂直方向に中央揃え */
  justify-content: center;
  /* 水平方向に中央揃え */
  z-index: 1;
}

.modalOverlay .modal {
  width: 90%;
  max-width: 800px;
  max-height: 700px;
  height: 90%;
  background-color: white;
  border-radius: 30px;
}

.modalOverlay .modal .modalContent {
  padding: 30px;
}

.modalOverlay .modal .modalContent .ima {
  width: 30%;
  margin: 0 auto;
}

.modalOverlay .modal .modalContent .ima .modalh4 {
  padding-top: 10%;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.modalOverlay .modal .modalContent .modalMain {
  padding: 20px;
}

.modalOverlay .modal .modalContent .modalMain .modalText {
  overflow-y: scroll;
  max-height: 200px;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6;
  color: #434343;
}

.modalOverlay .modal .modalContent .modalMain .modalText::-webkit-scrollbar {
  height: 10px;
}

.modalOverlay .modal .modalContent .button {
  font-size: 15px !important;
  width: 150px;
  border-radius: 10px !important;
  height: 30px !important;
  left: 50%;
  margin-top: 10px;
}

.cmodal {
  max-width: 1000px;
  margin: 0 auto;
  position: fixed;
  border: solid 1px #00b2eb;
  box-shadow: 0px 1px 6px 7px rgba(0, 176, 235, 0.0858);
  border-radius: 20px;
  overflow: scroll;
  width: 98%;
  background-color: white;
  z-index: 1;
  height: 100%;
  padding-top: 0px;
  top: 45px;
  left: 1%;
  right: 1%;
}

.cmodal .chead {
  display: block;
  align-items: center;
  text-align: center;
  padding: 30px;
  padding-top: 0px;
}

.cmodal .chead .f {
  display: inline-flex;
}

.cmodal .chead .description {
  font-size: 17px;
  color: #454545;
}

.cmodal::-webkit-scrollbar {
  height: 10px;
}

.flexcon {
  margin: 0 auto;
  max-width: 900px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.flexcon .containpm {
  text-align: center;
  box-shadow: 0px 4px 9px 3px rgba(97, 97, 97, 0.1);
  padding: 4px;
  padding-bottom: 6px;
  background-color: white;
  max-width: 150px;
  width: 100%;
  height: 205px;
  border-radius: 20px;
  border: solid 2px #b3b3b3;
}

.flexcon .containpm img {
  padding-top: 56px;
}

.flexcon .containpm .titlep {
  width: 90px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  color: #b3b3b3;
}

.main {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.main .flexconc {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
}

.main .img {
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

.main .categoli {
  padding-top: 15px;
}

.main .categoli .contain {
  width: 100%;
  margin-right: 28px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 20px;
  height: 115px;
  width: 105px !important;
  font-size: 12px;
  font-weight: 800;
  background-color: white;
  border: solid 1px #00b2eb;
  box-shadow: 0px 1px 6px 7px rgba(0, 176, 235, 0.0858);
}

.main .categoli .contain .title {
  width: 90px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  color: #00b0eb;
}

.main .categoli .containp {
  max-width: 105px;
  text-align: center;
  padding-top: 15px;
  width: 100%;
  margin-right: 28px;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 20px;
  height: 101px;
  font-size: 12px;
  font-weight: 800;
  background-color: white;
  box-shadow: 0px 2px 10px 1px rgba(35, 35, 35, 0.086);
}

.main .categoli .containp .titlep {
  width: 90px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  color: gray;
}

.main .page {
  padding-top: 5px;
}

.main .page .h4 {
  font-size: 10px;
  font-weight: 700;
}

.button {
  box-shadow: 0px 3px 10px 0px rgba(0, 176, 235, 0.32);
  background: #00b0eb;
  background: linear-gradient(153deg, #00b0eb 0%, deepskyblue 100%);
  font-size: 0.5rem;
  padding: 3px;
  border: none;
  width: 80px;
  margin: 0 auto;
  color: white;
  height: 20px;
  line-height: 2;
  border-radius: 10px;
  margin-bottom: 10px;
}

.modalF {
  min-height: 300px;
  text-align: left;
  width: 60%;
  max-width: 500px;
  max-height: 300px;
  background-color: white;
  border-radius: 30px;
}

.modalF .modalContent {
  padding: 30px;
}

.modalF .modalContent .ima {
  width: 30%;
  margin: 0 auto;
}

.modalF .modalContent .ima .modalh4 {
  padding-top: 10%;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.modalF .modalContent .modalMain {
  padding: 20px;
}

.modalF .modalContent .modalMain .modalText {
  overflow-y: scroll;
  max-height: 200px;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6;
  color: #434343;
}

.modalF .modalContent .modalMain .modalText::-webkit-scrollbar {
  height: 10px;
}

.modalF .button {
  font-size: 15px !important;
  width: 150px;
  border-radius: 10px !important;
  height: 30px !important;
  margin-top: 10px;
  text-align: center;
}

.inputxt {
  border: 1px solid #C1C1C1;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.imgr {
  margin-left: 15px;
  margin-top: 10px;
}

.cform {
  width: 80%;
  margin: 0 auto;
}

.cform div {
  margin-top: 12px;
  font-size: 10px;
  font-weight: normal;
}

.cform .button {
  margin: 40px auto;
  padding: 1px;
  display: flex;
  /* 子要素を水平方向にセンタリング */
  justify-content: center;
  /* 水平方向に中央寄せ */
  align-items: center;
  /* 垂直方向に中央寄せ */
}
